<!DOCTYPE html>
<html>
<head>
  <title>Libreria la torre</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo">
        <h1>Libreria la torre</h1>
      </div>
      <div class="nav-links">
        <a href="/proveedores">Proveedores</a>
        <a href="/stock">Stock</a>
        <a href="/ventas">Ventas</a>
        <a href="/compras">Compras</a>
      </div>
    </div>
  </nav>
  <h2>Libreria la torre</h2>
</body>
</html>
