<!DOCTYPE html>
<html>
<head>
  <title>Agregar Proveedor</title>
</head>
<body>
  <h1>Agregar Proveedor</h1>
  <form action="/proveedores/agregar" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required><br><br>
    <label for="telefono">Teléfono:</label>
    <input type="text" name="telefono" required><br><br>
    <label for="direccion">Dirección:</label>
    <input type="text" name="direccion" required><br><br>
    <label for="estado">Estado:</label>
    <input type="text" name="estado" required><br><br>
    <input type="submit" value="Agregar">
  </form>
</body>
</html>
